
AgregacaoContaArray/obj/AgregacaoContaArray.csproj.nuget.dgspec.json
AgregacaoContaArray/obj/Debug/net8.0/AgregacaoContaArray.AssemblyInfo.cs
AgregacaoContaArray/obj/Debug/net8.0/AgregacaoContaArray.AssemblyInfoInputs.cache
AgregacaoContaArray/obj/Debug/net8.0/AgregacaoContaArray.assets.cache
AgregacaoContaArray/obj/Debug/net8.0/AgregacaoContaArray.GeneratedMSBuildEditorConfig.editorconfig
AgregacaoContaArray/obj/project.assets.json
AgregacaoContaArray/obj/project.nuget.cache
